<div class="about-page page">

    <div class="tile welcome">
        <div class="content" id="welcome">
            <h1 class="page-title">
                Welcome to <br> 
                Trevor Dunn's <br> 
                Website!
            </h1>
            <img class="image" id="welcome-img" src="./../../media/images/headshot.jpeg">
        </div>
    </div>

    <div class="tile contact">
        <div class="content" id="contact-tile">
            <h1 class="tile-title">
                Let's Connect!
            </h1>
            <ul class="contact-list">
                <li class="contact-item"><h3>Professional Email: dunn.trevor&#64;pm.me</h3></li>
                <li class="contact-item"><h3>School Email: tjd2695&#64;rit.edu</h3></li>
                <li class="contact-item"><h3>Phone: 412-515-6565</h3></li>
                <li class="contact-item">
                    <a 
                       href="https://www.linkedin.com/in/trevor-dunn-dev/"
                       target="_blank">
                        <h3>LinkedIn</h3>
                    </a>
                </li>
                <li class="contact-item">
                    <a
                       href="https://github.com/Trev-D-Dev"
                       target="_blank">
                        <h3>Personal GitHub</h3>
                    </a>
                </li>
                <li class="contact-item">
                    <a
                       href="https://github.com/TrevorTheDunn"
                       target="_blank">
                        <h3>School GitHub</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tile about-me">
        <div class="content" id="about-tile">
            <h1 class="tile-title">
                Some Stuff About Me!
            </h1>
            <p class="tile-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </div>

    <div class="tile interests">
        <div class="content" id="interests-tile">
            <h1 class="tile-title">
                Some Of My Interests!
            </h1>
            <p class="tile-text">

            </p>
        </div>
    </div>

</div>