@import './../../styles.css';

.projects {
    width: 90vw;
    justify-items: left;
    justify-content: left;
}

.content {
    margin: auto;

    width: 95vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    gap: 2rem;

    align-items: center;
    justify-content: center;
} 

.project-details {
    width: 30%;

    aspect-ratio: 5/3;

}

.header {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;

    gap: 1rem;

    margin-bottom: 2rem;
}

.project-image {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 90%;
    width: auto;

    aspect-ratio: 16/9;

    border-radius: 2rem;
}

.project-image#port,
.project-image#lfg {
    background-color: black;
}

.project-image#port {
    align-items: center;
    justify-content: center;

    margin: auto;
}

.info {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

