@import './../../styles.css';

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-section {
    width: 95vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;

    margin: auto;
}

.skills {
    width: 40vw;
    max-height: 50vh;
    overflow: hidden;
}