<div class="skills-page page">

    <div class="tile title">
        <h1 class="page-title">Some Skills of Mine!</h1>
    </div>

    <div class="skills-section">

        <div class="tile hard-skills">

            <h1 class="tile-title">
                Hard Skills
            </h1>

            <div class="filter">

                <button 
                    id="all" 
                    class="filter-button selected" 
                    disabled
                    (click)="changeSelected($event)">
                    All
                </button>

                <button 
                    id="game" 
                    class="filter-button"
                    (click)="changeSelected($event)">
                    Game Dev
                </button>

                <button 
                    id="web" 
                    class="filter-button"
                    (click)="changeSelected($event)">
                    Web Dev
                </button>

            </div>

            <div class="skills">
                @if (selectedSkills == "all") {
                    <div *ngFor="let skill of hardSkills"
                    class="skill">
                        <h4>{{skill.name}}</h4>
                    </div>
                } @else if (selectedSkills == "game") {
                    <div *ngFor="let skill of gameSkills"
                    class="skill">
                        <h4>{{skill.name}}</h4>
                    </div>
                } @else if (selectedSkills == "web") {
                    <div *ngFor="let skill of webSkills"
                    class="skill">
                        <h4>{{skill.name}}</h4>
                    </div>
                }
            </div>

        </div>

        <div class="tile soft-skills">

            <h1 class="tile-title">
                Soft Skills
            </h1>

            <div class="skills">
                <div *ngFor="let skill of softSkills"
                class="skill">
                    <h4>{{skill.name}}</h4>
                </div>
            </div>

        </div>

    </div>

</div>